<!doctype html>
<html lang="hu">

  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Webprogramozás</title>

    <meta name="description" content="Webprogramozás előadás">
    <meta name="author" content="Horváth Győző">

		<link rel="stylesheet" href="http://webprogramozas.inf.elte.hu/webprog/ea/revealjs/css/reset.css">
		<link rel="stylesheet" href="http://webprogramozas.inf.elte.hu/webprog/ea/revealjs/css/reveal.css">
		<link rel="stylesheet" href="http://webprogramozas.inf.elte.hu/webprog/ea/revealjs/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="http://webprogramozas.inf.elte.hu/webprog/ea/revealjs/lib/css/github.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = 'http://webprogramozas.inf.elte.hu/webprog/ea/revealjs/' + (window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css');
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

    <!-- <link rel="stylesheet" href="http://webprogramozas.inf.elte.hu/webprog/ea/revealjs/css/reveal.css">
    <link rel="stylesheet" href="http://webprogramozas.inf.elte.hu/webprog/ea/revealjs/css/theme/wf2.css" id="theme">
    <link rel="stylesheet" href="http://webprogramozas.inf.elte.hu/webprog/ea/wf2.css" id="theme"> -->

    <!-- Code syntax highlighting -->
    <!-- <link rel="stylesheet" href="../revealjs/lib/css/obsidian.css"> -->
    <!-- <link rel="stylesheet" href="http://webprogramozas.inf.elte.hu/webprog/ea/revealjs/lib/css/github.css"> -->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

$body$

      </div>

    </div>

    <script src="http://webprogramozas.inf.elte.hu/webprog/ea/revealjs/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
        navigationMode: 'linear',
				dependencies: [
					{ src: 'http://webprogramozas.inf.elte.hu/webprog/ea/revealjs/plugin/markdown/marked.js' },
					{ src: 'http://webprogramozas.inf.elte.hu/webprog/ea/revealjs/plugin/markdown/markdown.js' },
					{ src: 'http://webprogramozas.inf.elte.hu/webprog/ea/revealjs/plugin/notes/notes.js', async: true },
					{ src: 'http://webprogramozas.inf.elte.hu/webprog/ea/revealjs/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>

  </body>
</html>
